@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 10px;
    display: flex;
    position: relative;
}

nav {
    color: black;
    position: absolute;
    right: 1vw;
    display: flex;
}

nav a {
    color: black;
    padding: 10px;
    margin-right: 20px;
}



.login {
    color: white;
    background-color: #D6000D;
    border-radius: 6px;
    padding: 5px 50px;
    height: 1.4em;
}


.login:hover {
    box-shadow: 1px 1px 01px rgba(0, 0, 0, 0.507);
}



body {
    width: 98.968vw;
    font-family: 'Roboto', sans-serif;
    
    
}

h1 {
    color: #D6000D;
}

h1.codar {
    font-style: italic;
}

span {
    color: black;
}

a {
    text-decoration: none;
}

.imagens {
    width: 220px;
    height: 200px;
}
nav a:visited, nav a:active {
    color: black;
}
a:visited, a:active {
    color: black;
}

a.login:visited, a.login:active {
    color: white;

}

main {
    width: 70vw;
    margin: 3.125em auto 4em auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.container1 {
    display: flex;
    margin: auto;
}

.orcamento {
    margin-left: 10px;
    padding: 60px;
}

.imagem1 {
    margin-right: 50px;
}

.solicitar {
    padding: 6px 40px;
    background-color: #D6000D;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.solicitar:hover {
    box-shadow: 1px 1px 01px rgba(0, 0, 0, 0.507);
}

h1 {
    font-size: 3em;
}

.orcamento p {
    font-weight: bold;
}

.container2 {
    margin: auto;
    position: relative;
    margin-top: 4.2em;
    padding-top: 6em;
}

.mini-container {
    position: absolute;
    left: -15vw;
    
}

.imagem2 {  
    margin-left: 8vw;
    padding: 0;
    margin-top: -3em;
}

ul {
    list-style-image: url('./../assets/redcheck.png');
    line-height: 2em;
}

li:hover {
    font-size: 1.2em;
}

input {
    border: none;
    background-color: rgba(211, 211, 211, 0.719);
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    height: 3vh;
    width: 13vw;
    text-align: justify;
}

input:hover {
    box-shadow: 1px 1px 01px rgba(0, 0, 0, 0.507);
    transition-duration: 0.6s;
}

.contato {
    margin-left: -1.5em;
}

.contato p {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.ligamos {
    border: none;
    background-color: #D6000D;
    border-radius: 6px;
    padding: 6px;
    height: 4.3vh;
    width: 13vw;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
  
}

.ligamos:hover {
    box-shadow: 1px 1px 01px rgba(0, 0, 0, 0.507);
    transition-duration: 0.6s;
}

aside {
    display: flex;
    justify-content: space-evenly;
    margin-top: 18em;
}

.pedro, .maria {
    background-color: rgba(211, 211, 211, 0.719);
    border-radius: 10px;
    width: 34em;
    height: 10em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0.8em;
    padding-top: 1.5em;
    position: relative;
    
}


.pedro {
    margin-right: -3vw;
}

.circulo {
    width: 6em;
    height: 6em;
    background-color: #D6000D;
    border-radius: 50%;
    position: absolute;
    left: 1em;

}

.aside-info{
    margin-top: 1vh;
    font-size: 1.2em;
    position: absolute;
    left: 7em;
}

h6 {
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 0.4em;
}

.nome-empresa {
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 25vh;
    padding-top: 4em;
    overflow: hidden;
    border-collapse: separate;
}

h3 {
    font-size: 3em;
    font-style: italic;
    margin-bottom: 0.1em;
    
}

.footer-codar {
     margin: -0.9em;
    
}

h5 {
    font-size: 1.5em;
    margin-bottom: 0.7em;
}


address {
    font-style: normal;
}

.logos {
    width: 1.9em;
    fill: #D6000D;
    margin: 0em 0.7em;
}

.logos:hover {
    transform: scale(1.2);
    transition-duration: 0.4s;
}

@media (max-width: 1387px) {

.container1 {
    flex-direction: column;
}

aside {
    flex-direction: column;
}

.maria {
    margin-top: 3.0vh;
}

}

@media (max-width: 975px) {
    .contato {
        display: flex;
        flex-direction: column;
    }
     
    input {
        width: 23vw;
    }
    .ligamos {
        width: 24vw;
        margin-top: 1vw;
    }
}

@media (max-width: 782px) {
    footer {
        font-size: small;
    }

    .container2 {
        display: flex;
        flex-direction: row;
    }

    .mini-container {
        font-size: 0.8em;
    }
}

@media (max-width: 627px) {
    footer {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        height: 40vh;
    }
}

@media (max-width: 581px) {
    header {
        justify-content: center;
    }
    nav {
        top: 10vh;
        justify-content: center;
    }

    .ligamos {
        height: 6vh;
    }

    .pedro, .maria {
        margin-left: -7vw;
    }
}